body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.notesContent {
  border: 0.2px solid black;
  border-radius: 10px;
  width: 50%;
}

input {
  text-align: center;
}

input[type="text"] {
  width: 20%;
  border: none;
  outline: none;
  border-bottom: 1px solid #000;
}

.addNote {
  text-align: center;
  margin-top: 2.5%;
}

.notes {
  width: 20%;
  float: left;
  margin-left: 3%;
  overflow-x: scroll;
}

#noteTitle {
  font-size: 15px;
}

#noteName {
  height: 120px;
  font-size: 15px;
  border: none;
  border-bottom: 1px solid #000;
  outline: none;
  resize: none;
}

.allNotes {
  margin-top: 5%;
}

.cross {
  cursor: pointer;
  position: relative;
  font-size: 20px;
}

.cross:hover {
  color: red;
}